In [1]:
import pandas as pd

In [41]:
orig_df = pd.read_csv('data/JollOrder2.csv', names=['receipt', 'product', 'qty', 'price'])
orig_df['unit_price'] = orig_df.price.div(orig_df.qty)

In [45]:
gby = orig_df.groupby(['product'])
product_df = gby.unit_price.unique().to_frame()
product_df['unit_price'] = product_df.unit_price.map(lambda a: a[0])

In [46]:
product_df

                                                  unit_price
product
1pc Burger Steak                                        55.0
1pc Chickenjoy                                          82.0
1pc Chickenjoy with Jolly Spaghetti                    115.0
2pc Burger Steak                                        85.0
2pc Chickenjoy                                         150.0
8pc Chickenjoy Bucket                                  475.0
Cheesy Classic Jolly Hotdog with Fries and Drink        90.0
Chickenjoy Super Meal                                  125.0
Chocolate Sundae                                        29.0
French Fries Large                                      55.0
French Fries Regular                                    34.0
Palabok                                                 94.0
Peach Mango Pie                                         29.0
Yum Cheeseburger with Fries                             85.0