In [1]:
import pandas as pd
import numpy as np

import random
from numpy.random import choice as npchoice

import networkx as nx
import itertools
import json
from IPython.display import display

# Generate data

In [2]:
for_jbee = True

In [3]:
if for_jbee:
    p_chkrice = "1 pc chicken w/rice"
    p_2chkrice = "2 pcs chicken w/rice"
    p_chkspag = "1 pc chicken w/spaghetti"
    p_chkfries = "1 pc chicken w/fries"
    p_chkpalabok = "1 pc chicken w/palabok"
    p_palabok = "palabok"
    p_spag = "spaghetti"
    p_hotdog = "jolly hotdog"
    p_brgrsteak = "1 pc. burger steak"
    p_bigbrgrsteak = "Burger Steak Supreme"
    p_fries = "fries"
    p_coke = "coca-cola"
    p_sprite = "sprite"
    p_icedtea = "iced tea"
    p_water = "water"
    p_shanghairolls = "5 pc. shanghai rolls w/rice"
    p_pineapple = "pineapple juice"
    p_pmpie = "peach mango pie"
else:
    p_chkrice = "sisig w/ rice"
    p_2chkrice = "adobo w/rice"
    p_chkspag = "chicken w/spaghetti"
    p_chkfries = "chicken w/ side dish"
    p_chkpalabok = "palabok w/ puto"
    p_palabok = "palabok"
    p_spag = "spaghetti"
    p_hotdog = "hotdog sandwich"
    p_brgrsteak = "tapsilog"
    p_bigbrgrsteak = "mega tapsilog"
    p_fries = "fries"
    p_coke = "coke"
    p_sprite = "sprite"
    p_icedtea = "iced tea"
    p_water = "water"
    p_shanghairolls = "shanghai rolls w/ rice"
    p_pineapple = "juice"
    p_pmpie = "halo-halo"

In [4]:
behavior_ena = [
    {
        "chance": 40,
        "items": [
            [{"prod": p_chkspag, "chance": 100}],
            [{"prod": p_coke, "chance": 100}],
        ]
    },
    {
        "chance": 50,
        "items": [
            [{"prod": p_chkrice, "chance": 100}],
        ]
    },
    {
        "chance": 10,
        "items": [
            [{"prod": p_spag, "chance": 100}],
            [{"prod": p_pmpie, "chance": 100}],
        ]
    },
]

behavior_gil = [
    {
        "chance": 45,
        "items": [
            [{"prod": p_chkspag, "chance": 100}],
            [{"prod": p_shanghairolls, "chance": 100}],
            [{"prod": p_water, "chance": 100}]
        ]
    },
    {
        "chance": 35,
        "items": [
            [{"prod": p_chkspag, "chance": 100}],
            [{"prod": p_water, "chance": 100}]
        ]
    },
    {
        "chance": 20,
        "items": [
            [{"prod": p_hotdog, "chance": 100}],
            [{"prod": p_water, "chance": 100}]
        ]
    },
]

behavior_marksteve = [
    {
        "chance": 70,
        "items": [
            [{"prod": p_2chkrice, "chance": 100}],
            [{"prod": p_pmpie, "chance": 100}],
            [{"prod": p_pineapple, "chance": 90}, {"prod": p_coke, "chance": 10}]
        ]
    },
    {
        "chance": 30,
        "items": [
            [{"prod": p_brgrsteak, "chance": 100}],
            [{"prod": p_shanghairolls, "chance": 100}],
            [{"prod": p_pineapple, "chance": 90}, {"prod": p_coke, "chance": 10}]
        ]
    }
]

behavior_iman = [
    {
        "chance": 70,
        "items": [
            [{"prod": p_chkspag, "chance": 100}],
            [{"prod": p_fries, "chance": 100}],
            [{"prod": p_icedtea, "chance": 90}, {"prod": p_coke, "chance": 10}]
        ]
    },
    {
        "chance": 30,
        "items": [
            [{"prod": p_hotdog, "chance": 100}],
            [{"prod": p_icedtea, "chance": 90}, {"prod": p_coke, "chance": 10}]
        ]
    }
]

behavior_justin = [
    {
        "chance": 70,
        "items": [
            [{"prod": p_chkfries, "chance": 100}],
            [{"prod": p_brgrsteak, "chance": 100}],
            [{"prod": p_coke, "chance": 95}, {"prod": p_sprite, "chance": 5}],
            [{"prod": p_coke, "chance": 95}, {"prod": p_sprite, "chance": 5}],
        ]
    },
    {
        "chance": 30,
        "items": [
            [{"prod": p_bigbrgrsteak, "chance": 100}],
            [{"prod": p_coke, "chance": 90}, {"prod": p_sprite, "chance": 10}],
        ]
    },
]

behavior_bianca = [
    {
        "chance": 50,
        "items": [
            [{"prod": p_brgrsteak, "chance": 100}],
            [{"prod": p_water, "chance": 100}],
        ]
    },
    {
        "chance": 30,
        "items": [
            [{"prod": p_chkspag, "chance": 100}],
            [{"prod": p_water, "chance": 100}],
        ]
    },
    {
        "chance": 20,
        "items": [
            [{"prod": p_shanghairolls, "chance": 100}],
            [{"prod": p_water, "chance": 100}],
        ]
    },
]

behavior_jose = [
    {
        "chance": 20,
        "items": [
            [{"prod": p_chkpalabok, "chance": 100}],
            [{"prod": p_icedtea, "chance": 95}, {"prod": p_coke, "chance": 5}],
        ]
    },
    {
        "chance": 50,
        "items": [
            [{"prod": p_palabok, "chance": 100}],
            [{"prod": p_icedtea, "chance": 95}, {"prod": p_coke, "chance": 5}],
        ]
    },
    {
        "chance": 30,
        "items": [
            [{"prod": p_2chkrice, "chance": 100}],
            [{"prod": p_icedtea, "chance": 95}, {"prod": p_coke, "chance": 5}],
        ]
    },
]

In [5]:
behaviors = [behavior_bianca, behavior_ena, behavior_gil, behavior_iman, behavior_jose, behavior_justin, behavior_marksteve]

In [6]:
def get_persons_order(person):
    items = npchoice(person, 1, p=list(map(lambda order: order['chance']/100, person)))[0]['items']
    order = []
    for item_possibilities in items:
        item = npchoice(item_possibilities, 1, p=list(map(lambda poss: poss['chance']/100, item_possibilities)))[0]
        order.append(item['prod'])
    return order

In [7]:
multiperson_receipt = False
NUM_GROUPS = 250000
all_orders = []

# index: no. of people in group, value: weight
if multiperson_receipt:
    GROUP_SIZE_WEIGHTS = [0, 0.2, 0.4, 0.13, 0.12, 0.05, 0.04, 0.03, 0.02, 0.01]
    for i in range(NUM_GROUPS):
        group_size = npchoice(range(len(GROUP_SIZE_WEIGHTS)), 10000, p=GROUP_SIZE_WEIGHTS)[0]
        people = random.choices(behaviors, k=group_size)
        orders = []
        for person in people:
            orders.extend(get_persons_order(person))
        for j in orders:
            all_orders.append({'receipt': i, 'name': j})
    print('All orders generated!')
else:
    for receipt in range(NUM_GROUPS):
        person = random.choices(behaviors, k=1)[0]
        for item in get_persons_order(person):
            all_orders.append({'receipt': receipt, 'name': item})
    print('All orders generated!')

All orders generated!

In [8]:
orders_df = pd.DataFrame(all_orders, columns=['receipt', 'name'])
orders_df.head(10)

   receipt                         name
0        0     1 pc chicken w/spaghetti
1        0  5 pc. shanghai rolls w/rice
2        0                        water
3        1          1 pc chicken w/rice
4        2                 jolly hotdog
5        2                        water
6        3           1 pc. burger steak
7        3                        water
8        4     1 pc chicken w/spaghetti
9        4                        water

In [9]:
orders_df.to_csv('data/orders_generated.csv', index=False)

In [10]:
orders_df.name.value_counts()

coca-cola                      80389
1 pc chicken w/spaghetti       78487
water                          71708
iced tea                       66033
1 pc. burger steak             53413
2 pcs chicken w/rice           35703
5 pc. shanghai rolls w/rice    34096
pineapple juice                31848
peach mango pie                28483
1 pc chicken w/fries           24989
fries                          24913
jolly hotdog                   17977
palabok                        17865
1 pc chicken w/rice            17848
Burger Steak Supreme           10689
1 pc chicken w/palabok          7088
spaghetti                       3587
sprite                          3576
Name: name, dtype: int64

# Create csv and json

In [11]:
orders_df.columns = ['receipt', 'order']

In [12]:
orders = orders_df.drop_duplicates().groupby('receipt')['order'].apply(list).values

G = nx.Graph()
for order in orders:
    for pair in itertools.combinations(order, 2):
        try:
            G[pair[0]][pair[1]]['weight'] += 1
        except:
            G.add_edge(pair[0], pair[1],weight=1)

In [13]:
orders_df.head()

   receipt                        order
0        0     1 pc chicken w/spaghetti
1        0  5 pc. shanghai rolls w/rice
2        0                        water
3        1          1 pc chicken w/rice
4        2                 jolly hotdog

In [14]:
item = pd.DataFrame(index=orders_df['order'].unique())
item['frequency'] = orders_df.drop_duplicates().order.value_counts()
item['expectation'] = item['frequency']/len(orders_df.receipt.unique())
item

                             frequency  expectation
1 pc chicken w/spaghetti         78487     0.313948
5 pc. shanghai rolls w/rice      34096     0.136384
water                            71708     0.286832
1 pc chicken w/rice              17848     0.071392
jolly hotdog                     17977     0.071908
1 pc. burger steak               53413     0.213652
iced tea                         66033     0.264132
2 pcs chicken w/rice             35703     0.142812
peach mango pie                  28483     0.113932
pineapple juice                  31848     0.127392
palabok                          17865     0.071460
coca-cola                        57831     0.231324
1 pc chicken w/fries             24989     0.099956
fries                            24913     0.099652
1 pc chicken w/palabok            7088     0.028352
sprite                            3514     0.014056
Burger Steak Supreme             10689     0.042756
spaghetti                         3587     0.014348

In [15]:
with open('viz/freqs.json', 'w') as outfile:
    json.dump([row.to_dict() for ix, row in item.iterrows()], outfile)

In [16]:
edges = pd.DataFrame(G.edges(data=True))
edges.columns = ['item1', 'item2', 'weight']
edges['weight'] = edges.weight.apply(lambda x: x['weight'])

In [17]:
pA_pB = (edges.item1.apply(lambda x: item.loc[x, 'expectation']) * 
         edges.item2.apply(lambda x: item.loc[x, 'expectation']))
edges['norm_weight'] = edges.weight/pA_pB
edges['norm_weight_item1'] = edges.weight / edges.item1.apply(lambda x: item.loc[x, 'frequency'])
edges['norm_weight_item2'] = edges.weight / edges.item2.apply(lambda x: item.loc[x, 'frequency'])

In [18]:
edges.to_csv('data/jbee_small_network.csv', index=False)

In [19]:
with open('viz/network.json', 'w') as outfile:
    json.dump([row.to_dict() for ix, row in edges.iterrows()], outfile)