In [2]:
import pandas as pd

In [41]:
orig_df = pd.read_csv('data/JollOrder2.csv', names=['receipt', 'product', 'qty', 'price'])
orig_df['unit_price'] = orig_df.price.div(orig_df.qty)

In [45]:
gby = orig_df.groupby(['product'])
product_df = gby.unit_price.unique().to_frame()
product_df['unit_price'] = product_df.unit_price.map(lambda a: a[0])

In [46]:
product_df

                                                  unit_price
product
1pc Burger Steak                                        55.0
1pc Chickenjoy                                          82.0
1pc Chickenjoy with Jolly Spaghetti                    115.0
2pc Burger Steak                                        85.0
2pc Chickenjoy                                         150.0
8pc Chickenjoy Bucket                                  475.0
Cheesy Classic Jolly Hotdog with Fries and Drink        90.0
Chickenjoy Super Meal                                  125.0
Chocolate Sundae                                        29.0
French Fries Large                                      55.0
French Fries Regular                                    34.0
Palabok                                                 94.0
Peach Mango Pie                                         29.0
Yum Cheeseburger with Fries                             85.0

In [41]:
df

                     Unnamed: 0  frequency  expectation
0          1 pc chicken w/fries        250     0.037959
1            1 pc. burger steak        444     0.067416
2                     coca-cola        489     0.074248
3   5 pc. shanghai rolls w/rice        305     0.046310
4               pineapple juice        275     0.041755
5      1 pc chicken w/spaghetti        589     0.089432
6                         water        549     0.083359
7                  jolly hotdog        171     0.025964
8          2 pcs chicken w/rice        309     0.046918
9               peach mango pie        258     0.039174
10                      palabok        141     0.021409
11                       sprite         37     0.005618
12                        fries        233     0.035378
13                     iced tea        476     0.072275
14         Burger Steak Supreme        102     0.015487
15          1 pc chicken w/rice        197     0.029912
16                    spaghetti         40     0.006073
17       1 pc chicken w/palabok         74     0.011236

In [53]:
nodes_df = pd.read_csv('data/nodes.csv', names=['id', 'frequency', 'expectation'], header=0)
nodes_df

                             id  frequency  expectation
0          1 pc chicken w/fries        250     0.037959
1            1 pc. burger steak        444     0.067416
2                     coca-cola        489     0.074248
3   5 pc. shanghai rolls w/rice        305     0.046310
4               pineapple juice        275     0.041755
5      1 pc chicken w/spaghetti        589     0.089432
6                         water        549     0.083359
7                  jolly hotdog        171     0.025964
8          2 pcs chicken w/rice        309     0.046918
9               peach mango pie        258     0.039174
10                      palabok        141     0.021409
11                       sprite         37     0.005618
12                        fries        233     0.035378
13                     iced tea        476     0.072275
14         Burger Steak Supreme        102     0.015487
15          1 pc chicken w/rice        197     0.029912
16                    spaghetti         40     0.006073
17       1 pc chicken w/palabok         74     0.011236

In [54]:
import json
s = json.dumps([dict(y) for x, y in nodes_df.iterrows()])
f = open('data/freqs.json', 'w+')
f.write(s)
f.close()
s

'[{"id": "1 pc chicken w/fries", "frequency": 250, "expectation": 0.03795930762222897}, {"id": "1 pc. burger steak", "frequency": 444, "expectation": 0.06741573033707865}, {"id": "coca-cola", "frequency": 489, "expectation": 0.07424840570907988}, {"id": "5 pc. shanghai rolls w/rice", "frequency": 305, "expectation": 0.04631035529911935}, {"id": "pineapple juice", "frequency": 275, "expectation": 0.04175523838445186}, {"id": "1 pc chicken w/spaghetti", "frequency": 589, "expectation": 0.08943212875797145}, {"id": "water", "frequency": 549, "expectation": 0.08335863953841482}, {"id": "jolly hotdog", "frequency": 171, "expectation": 0.025964166413604616}, {"id": "2 pcs chicken w/rice", "frequency": 309, "expectation": 0.04691770422107501}, {"id": "peach mango pie", "frequency": 258, "expectation": 0.0391740054661403}, {"id": "palabok", "frequency": 141, "expectation": 0.02140904949893714}, {"id": "sprite", "frequency": 37, "expectation": 0.005617977528089888}, {"id": "fries", "frequency": 233, "expectation": 0.0353780747039174}, {"id": "iced tea", "frequency": 476, "expectation": 0.07227452171272396}, {"id": "Burger Steak Supreme", "frequency": 102, "expectation": 0.01548739750986942}, {"id": "1 pc chicken w/rice", "frequency": 197, "expectation": 0.02991193440631643}, {"id": "spaghetti", "frequency": 40, "expectation": 0.0060734892195566355}, {"id": "1 pc chicken w/palabok", "frequency": 74, "expectation": 0.011235955056179777}]'